.mat-form-field {
  width: 100%;
}

::ng-deep .mat-form-field-infix {
    width: 0 !important;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

button {
    width: 100%;
    margin-bottom: 1rem;
    background-color: var(--primary);
    color: var(--on-primary);
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}