@use "sass:math";

$popup-arrow-size: 20px;
$popup-arrow-border-size: 2px;
$popup-arrow-half-size: math.div($popup-arrow-size, 2);
$popup-arrow-offset: $popup-arrow-half-size + $popup-arrow-border-size;
$header-size: 67px;
$marginParent: 15px;
$translateY: - math.div($marginParent, 2);

.popupContainer {
  visibility: hidden;
  border-radius: 25px;
  border: 2px solid #000;
  background-color: var(--dialog);
  padding: $popup-arrow-half-size;
  position: absolute;
  box-shadow: 0 0 10px var(--dialog);
  box-sizing: border-box;
  z-index: 3;
  color: var(--on-dialog);
  transform: translateY(-$translateY);
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
  }

  &:focus {
    outline: none;
  }

  &::after {
    position: absolute;
    content: '';
    width: $popup-arrow-size;
    height: $popup-arrow-size;
    background-color: var(--dialog);
    border-top: 0 solid #000;
    border-right: $popup-arrow-border-size solid #000;
    border-left: 0 solid #000;
    border-bottom: $popup-arrow-border-size solid #000;
  }

  &.down {
    visibility: unset;
    transform: translate(-50%, calc(-100% - #{$translateY + $popup-arrow-offset}));

    &::after {
      top: 100%;
      left: 50%;
      margin-top: -$popup-arrow-half-size;
      margin-left: -$popup-arrow-half-size;
      transform: rotate(45deg);
    }
  }

  &.left {
    visibility: unset;
    transform: translate($popup-arrow-offset, calc(-50% - #{$translateY}));

    &::after {
      top: 50%;
      right: 100%;
      margin-top: -$popup-arrow-half-size;
      margin-right: -$popup-arrow-half-size;
      transform: rotate(135deg);
    }
  }

  &.up {
    visibility: unset;
    transform: translate(-50%, $popup-arrow-offset - $translateY);

    &::after {
      bottom: 100%;
      left: 50%;
      margin-bottom: -$popup-arrow-half-size;
      margin-left: -$popup-arrow-half-size;
      transform: rotate(225deg);
    }
  }

  &.right {
    visibility: unset;
    transform: translate(calc(-100% - #{$popup-arrow-offset}), calc(-50% - #{$translateY}));

    &::after {
      top: 50%;
      left: 100%;
      margin-top: -$popup-arrow-half-size;
      margin-left: -$popup-arrow-half-size;
      transform: rotate(315deg);
    }
  }
}

div > p {
  margin-bottom: 1px;
}

span {
  margin-right: 5px;

  & > mat-icon {
    margin: -1px 0px 0px 12px;
    vertical-align: middle;
  }

  & > p {
    display: inline;
    vertical-align: middle;
  }
}

ul {
  margin: 0;
}

button {
  color: var(--red);
  min-width: unset;
  margin-left: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.vote-button {
  background-color: var(--primary);
  color: var(--on-primary);
  min-width: 30px !important;
  min-height: 10px !important;
  width: calc(50% - 1em);
  z-index: 3;
  margin: 0.5em;

  &.active {
    background-color: var(--green);
    color: var(--black);

    &.downvote {
      background-color: var(--red);
      color: var(--white);
    }
  }

  span {
    margin: 0 5px;

    > mat-icon {
      margin: 0 0.2em;
    }
  }
}

.replace-button, .open-button {
  background-color: transparent;
  color: var(--primary);
  outline: var(--primary) solid 2px;
  min-width: 30px !important;
  min-height: 30px !important;
  width: auto;
  z-index: 3;
  display: flex;
  margin: 0 auto 10px;

  &:hover {
    background-color: var(--primary);
    color: var(--on-primary);
  }
}

::ng-deep .replacementContainer, ::ng-deep .selectContainer {
  align-self: center;

  .mat-form-field-infix {
    min-width: 150px;
    line-height: normal;
  }

  .mat-form-field-wrapper {
    margin: 1em 0 0 0;
  }
}

mat-form-field {
  border-radius: 5px;
  line-height: 80%;
  caret-color: var(--on-surface);
  appearance: textarea;
  min-height: 30px;
  min-width: 140px;
  cursor: text;
  color: var(--on-dialog);
  background-color: var(--dialog);
  margin-top: 0.2em;

  &:focus {
    outline: none;
  }
}

#replacement {
  color: var(--on-dialog);
  background-color: var(--dialog);
  border-radius: 5px;
}

.mat-flat-button.mat-primary.mat-button-disabled, .mat-flat-button.mat-accent.mat-button-disabled, .mat-flat-button.mat-warn.mat-button-disabled, .mat-flat-button.mat-button-disabled.mat-button-disabled, .mat-raised-button.mat-primary.mat-button-disabled, .mat-raised-button.mat-accent.mat-button-disabled, .mat-raised-button.mat-warn.mat-button-disabled, .mat-raised-button.mat-button-disabled.mat-button-disabled, .mat-fab.mat-primary.mat-button-disabled, .mat-fab.mat-accent.mat-button-disabled, .mat-fab.mat-warn.mat-button-disabled, .mat-fab.mat-button-disabled.mat-button-disabled, .mat-mini-fab.mat-primary.mat-button-disabled, .mat-mini-fab.mat-accent.mat-button-disabled, .mat-mini-fab.mat-warn.mat-button-disabled, .mat-mini-fab.mat-button-disabled.mat-button-disabled {
  display: none;
}

.open-button .mat-badge-content {
  left: -2em !important;
  top: -1em !important;
}

.responseCountBadge {
  width: 0;

  > .mat-badge-content {
    background-color: var(--primary);
    color: var(--on-primary);
    left: -1.5em !important;
    top: 1em !important;
  }
}
