<ng-template
  #LiveIcon
  let-isPaused="isPaused">
  <div [ngClass]="isPaused ? 'live-paused' : 'live-active'">
    <mat-icon>fiber_manual_record</mat-icon>
    <span>{{ translateKey + ".live" | translate }}</span>
  </div>
</ng-template>

<div
  class="dialog-header"
  *ngIf="isProduction">
  <div class="dialog-header-title">
    <h5 mat-dialog-title>{{ translateKey + ".dialog-title" | translate }}</h5>
  </div>
  <div class="dialog-header-content">
    <span style="padding-left: 8px"></span>
    <ng-container
      *ngTemplateOutlet="
        LiveIcon;
        context: { isPaused: isPaused }
      "></ng-container>
    <div class="fill"></div>
    <div class="settings">
      <span *ngIf="is2ndPhasePeerInstruction">
        {{ translateKey + ".peerInstruction-phase-2-marker" | translate }}
      </span>
      <button
        mat-flat-button
        *ngIf="currentRole"
        (click)="openPeerInstruction()"
        class="button-secondary">
        <mat-icon>repeat</mat-icon>
        <span>{{ translateKey + ".peerInstruction-button" | translate }}</span>
      </button>
      <button
        mat-flat-button
        [mat-menu-trigger-for]="archiveMenu"
        class="button-primary"
        *ngIf="currentRole"
        (click)="openArchive()">
        <mat-icon>archive</mat-icon>
        <span>{{ translateKey + ".option-archive" | translate }}</span>
      </button>
      <mat-menu
        #archiveMenu
        [classList]="'livepoll-dialog-component-archive-menu'">
        <ng-container *ngIf="archive">
          <div
            *ngFor="let entry of archive"
            class="archive-menu-item">
            <div class="header">
              <span>
                {{
                  entry.title
                    ? entry.title.length > 27
                      ? entry.title.slice(0, 24) + "..."
                      : entry.title
                    : (translateKey + ".archive-noname" | translate)
                }}
              </span>
              <ng-container *ngIf="entry.active">
                <span style="padding-left: 4px"></span>
                <ng-container
                  *ngTemplateOutlet="
                    LiveIcon;
                    context: { isPaused: entry.paused }
                  "></ng-container>
              </ng-container>
              <ng-container *ngIf="!entry.active">
                <span style="padding-left: 8px">
                  {{ translateKey + ".archive-finished" | translate }}
                </span>
              </ng-container>
              <div class="fill"></div>
              <span>{{ this.prettyPrintDate(entry.createdAt) }}</span>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!archive">
          <mat-spinner></mat-spinner>
        </ng-container>
      </mat-menu>
    </div>
  </div>
</div>
<mat-dialog-content
  class="content"
  *ngIf="isProduction; else dialogContent">
  <ng-container *ngTemplateOutlet="dialogContent"></ng-container>
</mat-dialog-content>
<ng-template
  #dialogContent
  class="content">
  <ng-container *ngIf="livepollSession">
    <ng-container
      *ngIf="currentRole && livepollSession.active && !isConclusion">
      <app-livepoll-settings [parent]="this"></app-livepoll-settings>
    </ng-container>

    <div class="title-container">
      <p
        class="preview-title"
        *ngIf="!isProduction">
        {{ translateKey + ".dialog-preview-title" | translate }}
      </p>
    </div>

    <div
      class="markdown-container"
      #markdownContainer>
      <markdown [data]="livepollSession.title"></markdown>
    </div>

    <div class="statistics-settings-container">
      <div class="statistics-options">
        <button
          mat-flat-button
          *ngIf="isProduction && currentRole"
          class="button-cancel"
          (click)="resetResults()">
          <mat-icon style="margin-right: 4px">undo</mat-icon>
          <span class="on-desktop">
            {{ translateKey + ".settings-resetResults" | translate }}
          </span>
        </button>
      </div>
      <div class="statistics-info">
        <div
          @AnimateInOut
          [matTooltip]="translateKey + '.user' | translate"
          *ngIf="livepollSession.viewsVisible">
          <mat-icon>visibility</mat-icon>
          <span>{{ userCount }}</span>
        </div>
        <div
          @AnimateInOut
          [matTooltip]="translateKey + '.participants' | translate"
          *ngIf="livepollSession.viewsVisible">
          <mat-icon>people</mat-icon>
          <span>{{ participantCount }}</span>
        </div>
        <div
          @AnimateInOut
          *ngIf="livepollSession.resultVisible">
          <span>{{ translateKey + ".votes" | translate }}</span>
          <span>{{ totalVotes }}</span>
        </div>
      </div>
    </div>

    <ng-container *ngIf="options && livepollSession.resultVisible">
      <app-livepoll-statistic
        @AnimateInOut
        [options]="this.options"
        [template]="this.template"
        [translateKey]="this.translateKey"
        [votes]="this.votes"
        [totalVotes]="this.totalVotes"></app-livepoll-statistic>
    </ng-container>

    <div
      class="vote-container"
      *ngIf="!isConclusion && livepollSession.active">
      <div
        [ngClass]="'reverse-' + !!template.reverse + ' grid-' + template.isGrid"
        [ngStyle]="{ 'grid-template-rows': 'repeat(' + rowHeight + ',1fr)' }"
        *ngIf="template">
        <ng-container *ngIf="template.symbols">
          <ng-container *ngFor="let symbol of template.symbols; index as i">
            <ng-container
              *ngTemplateOutlet="
                option;
                context: {
                  i: i,
                  symbol: symbol
                }
              "></ng-container>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="template.length">
          <ng-container
            *ngFor="let symbol of [].constructor(template.length); index as i">
            <ng-container
              *ngTemplateOutlet="
                option;
                context: {
                  i: i,
                  symbol: i
                }
              "></ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-template>

<mat-dialog-actions
  *ngIf="isProduction"
  class="actions-container"
  #dialogActions>
  <div class="left-container">
    <button
      mat-flat-button
      class="button-primary"
      *ngIf="currentRole && !isConclusion"
      (click)="isPaused ? play() : pause()">
      <mat-icon>{{ isPaused ? "play_circle" : "pause_circle" }}</mat-icon>
      <span
        *ngIf="!isMobile"
        class="on-desktop">
        {{
          translateKey +
            ".creator-settings-" +
            (isPaused ? "continue" : "pause") | translate
        }}
      </span>
    </button>
    <button
      mat-flat-button
      class="button-cancel"
      *ngIf="currentRole && isProduction && !isConclusion"
      (click)="close('delete')">
      <mat-icon style="color: var(--red)">stop_circle</mat-icon>
      <span
        *ngIf="!isMobile"
        class="on-desktop">
        {{ translateKey + ".creator-settings-delete" | translate }}
      </span>
    </button>
  </div>
  <div class="right-container">
    <button
      mat-flat-button
      class="button-cancel"
      *ngIf="isProduction"
      (click)="close('close')">
      <span>{{ translateKey + ".close" | translate }}</span>
    </button>
    <button
      mat-flat-button
      *ngIf="currentRole && (dialogActions.offsetWidth > 310 || isConclusion)"
      (click)="close('reset')"
      class="button-secondary">
      <mat-icon>add_circle</mat-icon>
      <span
        *ngIf="!isMobile"
        class="on-desktop">
        {{ translateKey + ".new" | translate }}
      </span>
    </button>
  </div>
</mat-dialog-actions>

<ng-template
  #option
  let-i="i"
  let-symbol="symbol">
  <button
    [ngClass]="getVoteButtonClass(i)"
    mat-flat-button
    class="vote-text"
    [disabled]="isPaused"
    [ngStyle]="{
      order: i * (template.reverse ? -1 : 1)
    }"
    (click)="vote(i)">
    <ng-container
      *ngTemplateOutlet="
        optionEntry;
        context: { i: i, symbol: symbol }
      "></ng-container>
  </button>
</ng-template>

<ng-template
  #optionEntry
  let-i="i"
  let-symbol="symbol">
  <ng-container *ngIf="template.isPlain">
    <span
      class="vote-plain-text"
      [ngStyle]="
        template.translate ? template.style?.text : template.style?.plainIcon
      ">
      {{
        template.translate
          ? (translateKey + "." + "option-" + template.name! | translate)[i]
          : symbol
      }}
    </span>
  </ng-container>
  <ng-container *ngIf="!template.isPlain">
    <mat-icon [ngStyle]="template.style?.matIcon">
      {{ symbol }}
    </mat-icon>
  </ng-container>
</ng-template>
